<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DestinationTable" value="ProcapitaBoUExport"/>
    </appSettings>
    <connectionStrings>
        <add name="MetaDirectory"
            connectionString="Data Source=[DATABASE SERVER];Initial Catalog=[DATABASE NAME];Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="BasicHttpBinding_PersonManagementServiceSync" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
              <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </binding>
            <binding name="BasicHttpBinding_GroupManagementServiceSync" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
              <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </binding>
            <binding name="BasicHttpBinding_MembershipManagementServiceSync" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
              <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </binding>
            <binding name="BasicHttpBinding_ExtensionServiceSync" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
              <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </binding>
          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://[SERVER]:[PORT]/HCW.Welfare.CustomSolutions.Integration.IISHost/V1/imsbasicservice.svc/PersonManagementServiceSync?DomainId=[DOMAIN ID]"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PersonManagementServiceSync"
                contract="ProcapitaIMS.PersonManagementServiceSync" name="BasicHttpBinding_PersonManagementServiceSync" />
            <endpoint address="http://[SERVER]:[PORT]/HCW.Welfare.CustomSolutions.Integration.IISHost/V1/imsbasicservice.svc/GroupManagementServiceSync?DomainId=[DOMAIN ID]"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GroupManagementServiceSync"
                contract="ProcapitaIMS.GroupManagementServiceSync" name="BasicHttpBinding_GroupManagementServiceSync" />
            <endpoint address="http://[SERVER]:[PORT]/HCW.Welfare.CustomSolutions.Integration.IISHost/V1/imsbasicservice.svc/MembershipManagementServiceSync?DomainId=[DOMAIN ID]"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MembershipManagementServiceSync"
                contract="ProcapitaIMS.MembershipManagementServiceSync" name="BasicHttpBinding_MembershipManagementServiceSync" />
            <endpoint address="http://[SERVER]:[PORT]/HCW.Welfare.CustomSolutions.Integration.IISHost/V1/imsbasicservice.svc/ExtensionServiceSync?DomainId=[DOMAIN ID]"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ExtensionServiceSync"
                contract="ProcapitaIMS.ExtensionServiceSync" name="BasicHttpBinding_ExtensionServiceSync" />
        </client>
    </system.serviceModel>
</configuration>